/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* The navigation bar */

  .navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.navbar li{
  display: inline-block;
  float:right;
}
.navbar a {      /*not appearing on the right so far >.< */
  float: right;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    display: block; 
    padding: 25x 20x;
    
  }
  #logo {
    float: left  
  }


body {
    --green:#00b172;
    --white: #FFF;
    --text: #1a1a1a;
    font-family: Helvetica;
}
green-section{
backgroung-color:var(--green);
color: var(--white);
display: flex;
justifying-content: space-between;
padding: 50px;
}

height: 500px;
green-section img {
}