/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* The navigation bar */
.nav-list{
  background:white;
  box-shadow:0px 0px 10px var(clr --gray200);
  margin:0;
  padding: 1rem 0; 
  border-radius:var(--radius);
  display:flex;
  justify-content:flex-end;
  align-items: center;

}
.nav-item{
  list-style:none;
  margin-right: 2rem;

}
.nav-item a{
  text:1A1A1A;
  color: #00B172;

}
.logo{
  margin-right:auto;
  margin-left: 2rem;

}

 /* .navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.navbar li{
  display: flex;
  justify-content:flex-end;
}
.navbar a {     
    display: flex; 
    justify-content: flex-end; 
  }

  #logo {
    float: left  
  }


body {
    --green:#00b172;
    --white: #FFF;
    --text: #1a1a1a;
    font-family: Helvetica;
}
green-section{
backgroung-color:var(--green);
color: var(--white);
display: flex;
justifying-content: space-between;
padding: 50px;
}

height: 500px;
green-section img {
}